<div class="center jumbotron">
  <h1>Добро пожаловать на страницу тестового проекта Ruby on Rails</h1>
  <h2>
    Проект создан в качестве примера по книге Майкла Хартла
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>