<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |u| %>
    <li>
  <%= gravatar_for_user u, size:50 %>
      <%= link_to u.name, u %>
      <% hidemail = u.email.chars %>
      <% hidemail[2,3] = '*' %>
      <%= content_tag(:div, hidemail.join(), class:"email") %>
    </li>
  <% end %>
</ul>