<%= simple_form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.input :content, label: 'Content' %>
</div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

